<mat-card class="header">

  <div class="w-100" fxLayout="row" fxLayoutAlign="space-around center">

    <div fxLayout="row" fxFlex="5"></div>

    <div class="header-title" fxFlex="50" fxLayoutAlign="start center">
      Event
    </div>

    <div class="header-elements w-100" fxLayout="row" fxLayoutAlign="space-around center">

      <div class="header-elements-element">
        Home
      </div>

      <div class="header-elements-element">
        Events
      </div>

      <div class="header-elements-element">
        About Us
      </div>

      <div class="header-elements-login">
        Log In
      </div>

    </div>

  </div>

</mat-card>
